sudo: false
language: go
go:
- 1.5.3
services:
- mongodb
addons:
  apt:
    sources:
    - mongodb-3.2-precise
    packages:
    - mongodb-org-server
branches:
  only:
  - master
notifications:
  slack:
    secure: HSPbelGuRVi89pj8bvT2NgOvh5nBTNlXuMOhkHvKv6kOKpkGhc3t2bXk4m7lEJmpxZrhxaRjmhtEHQnfWt8hetA8MdFOyjSjNdOqtbnrugu6oR2SghyZ8WweaPbrycRuuuXVDj4oaBecIfw3GQLHZDBSAiXnuPfBu2D0Fq9Fh40=
